:root {
    --primary-color: #6F1D1B;
    --secondary-color-1: #BB9457;
    --secondary-color-2: #432818;
    --secondary-color-3: #99582A;
    --secondary-color-4: #FFE6A7;
    --text-color-1: white;
}